@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
}

:root {
    --cor-fundo: #F7F7F7 ;
    --cor-primaria: #0A0A23; /*Azul Marinho profundo*/
    --cor-secundaria: #00FFFF; /*Ciano*/
    --cor-neutra-suave: #F7F7F7; /*Para fundo das paginas e artigos*/
    --cor-neutra-escura: #1A1A1A; /*Para textos fortes, títulos, rodapé escuro.*/
    --cor-destaque: #00B3B3; 
    --fonte-principal: 'Inter', Arial, sans-serif;
}


body {
    font-family: 'Inter';
    background-color: var(--cor-fundo);
    color: var(--cor-primaria);
}



main {
    text-align: center;
    max-width: 100vh;
    margin: 250px auto;
}

h1 {
    font-size: 10px;
}

p {
    font-size: 100px;
}


.fonte {
  font-size: 0.85rem;
  color: #666;
}

.fonte a {
  color: inherit;
  text-decoration: underline;
}


.dolar-titulo {
text-align: center;
 font-size: 0;  /* Esconde o texto do H1 visualmente */
}

.dolar-titulo img.dolar-icone {
  width: 250px;
  height: 250px;
}
